.body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero{
    width: 100hvw;
    height: 60vh;
    border: 6px solid black;
    background-image: url("images/Skyline_Khulshi_City\,_Chittagong\,_Nightime.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 2%; */
}

.hero-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.notable{
    display: flex;
    width: 100hvw;
    height: 70vh;
    /* padding: 5%; */
    padding-top: 5%;
    background-color: blanchedalmond;
}

.holder{
    width: 50%;
    height: 50%;
    display: block;
    /* background-repeat: no-repeat; */
    /* flex: 1; */
    /* margin: 50px; */
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid blueviolet; */
    /* background-color: aquamarine; */
}

.holder-image{
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.holder-text{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.holder-text-2{
    font-style:oblique;
    text-align: center;
    font-size: 18px;
    margin: 20px;
}

body{
    background: #e8e8e8;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dp{
    display: flex;
    max-width: 300px;
    margin: 10px;
    box-shadow: 10px 10px 5px lightblue;
}

.card{
    display: flex;
    width: fit-content;
    background: #fb8b24;
    border: 1px solid black;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.text{
    font-family: Arial;
    margin: 50px;
    text-align: center;
}

.wiki{
    display: flex;
    width: 500px;
    height: 300px;
}