body{
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWFiZDZ3ZjN6bTFzcG1kaTgyOWZ1OW1ic2gyOGpkcHFjMzByZzlyaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TZf4ZyXb0lXXi/giphy.gif");
    background-size: cover;
}

.bod{
    color: aliceblue;
    text-align: center;
    text-shadow: 5px yellow;
}

.btn{
    padding: 20px;
    font-size: larger;
    font-weight: bold;
    background-color: #03fa41;
}

.junge-regular {
  font-family: "Junge", cursive;
  font-weight: 400;
  font-style: normal;
}

.bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cta{
    color: red;
    padding: 5px 10px;
    border: red 2px;
}

.underline{
    border-bottom: 4px solid white;
}

.boxy{
    background-color: black;
    width: fit-content;
    margin: 5px auto;
}

.im{
    width: 200px;
}

.footer{
    color: aliceblue;
    border: solid 2px white;
    max-width: fit-content;
    margin: 10px auto;
    padding: 10px;
}